{% extends '../scaffold/base.twig' %}

{% block head %}

    <link rel="stylesheet" href="css/screen.css" /> 

{% endblock head %}

{% block main %}

    <h1>Example Template</h1>
    {% include "example_component.twig" %}

{% endblock main %}